In [1]:
import pandas as pd
import numpy as np
import glob
import os
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from scipy.cluster.hierarchy import linkage, fcluster
import matplotlib.pyplot as plt
import joblib
import warnings
warnings.filterwarnings('ignore')

In [3]:
input_path = 'C:/Users/Anya/master_thesis/output'
full_path = os.path.join(input_path, 'taxi_data_cleaned_full.parquet')
data = pd.read_parquet(full_path)

In [5]:
df_sample = data.sample(n=250_000, random_state=42)

In [8]:
df_sample.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,RatecodeID,trip_duration_min,trip_distance_km,avg_speed_kmh,pickup_hour,pickup_weekday,pickup_date,price_per_km,price_per_min
32268380,2016-03-02 06:59:27,2016-03-02 07:04:52,0.68,-73.981323,40.763451,-73.970810,40.761280,5.0,1.0,5.416667,1.094351,12.122044,6.983333,2,2016-03-02,4.568917,0.923077
15612877,2016-01-25 09:03:47,2016-01-25 09:18:29,1.20,-74.005890,40.745316,-73.992065,40.753979,10.0,1.0,14.700000,1.931208,7.882482,9.050000,0,2016-01-25,5.178106,0.680272
4951365,2015-01-14 14:26:22,2015-01-14 14:32:05,0.98,-73.983284,40.734882,-73.985336,40.724361,6.0,NaN,5.716667,1.577153,16.553211,14.433333,2,2015-01-14,3.804323,1.049563
40723609,2016-03-23 08:36:54,2016-03-23 08:51:59,1.07,-74.009972,40.705109,-74.006248,40.716900,10.5,1.0,15.083333,1.721994,6.849920,8.600000,2,2016-03-23,6.097583,0.696133
20614742,2016-01-22 18:37:24,2016-01-22 19:02:14,6.92,-73.989532,40.696182,-73.982300,40.755852,25.0,1.0,24.833333,11.136633,26.907301,18.616667,4,2016-01-22,2.244844,1.006711

In [9]:
data = data.drop(columns='RatecodeID')

In [11]:
output_path = "C:/Users/Anya/master_thesis/output"
os.makedirs(output_path, exist_ok=True)
file_name = 'taxi_data_cleaned_full.parquet'
full_output_path = os.path.join(output_path, file_name)

In [12]:
data.to_parquet(full_output_path, compression='snappy', index=False)